<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lining Products</title>
  </head>
  <style>
    body {
      padding: 0px;
      margin: 0px;
      background-color: wheat;
    }
    .hide_scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .hide_scrollbar::-webkit-scrollbar {
      display: none;
    }
    .sections {
      display: flex;
      flex-direction: column;
    }
    .blue-background {
      background-color: #1f2937;
    }
    .header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 5px;
    }

    .title {
      font-size: 60px;
      text-align: center;
      flex-grow: 1;
      padding-right: 90px;
    }

    .no_underline {
      text-decoration: none;
    }

    a {
      color: black;
    }

    .lining_banner {
      background-image: url("../images/lky.webp");
      height: 600px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .lining_title {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 100px;
    }

    .bladex,
    .axforce,
    .windstorm,
    .lining_saga,
    .lining_roar_lite{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 100px;
    }

    .bladex{
        flex: 0 0 1275px;
        gap: 115px;
        justify-content:flex-start;
    }
    .axforce{
        flex: 0 0 1275px;
        gap: 100px;
        justify-content:flex-start;
    }

    .windstorm{
        flex: 0 0 1275px;
        gap: 90px;
        justify-content:flex-start;
    }

    .lining_saga,
    .lining_roar_lite{
        justify-content: flex-start;
        flex: 0 0 1275px;
        gap: 90px;
    }

    .rackets,
    .shoes {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      
    }

    .bladex_800,
    .bladex_700,
    .bladex_500,
    .axforce_80,
    .axforce_90,
    .windstorm_79,
    .windstorm_72,
    .lining_saga_II,
    .lining_saga_II_black,
    .lining_roar_lite_white,
    .lining_roar_lite_yellow{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .racket_section,
    .shoes_section,
    .bag_section {
      padding: 25px;
    }

    .footer {
      text-align: center;
    }

    .order{
        text-align: center;
        font-size: 40px;
    }
  </style>
  <body class="hide_scrollbar">
    <div class="sections">
      <div class="sec1">
        <div class="header">
          <div class="logo">
            <a
              href="https://umdclubbadminton.weebly.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../images/umd_club_badminton_logo-removebg-preview.png"
                alt="umd_club_badminton_logo"
                height="120px"
                width="auto"
              />
            </a>
          </div>
          <div class="title">
            <a class="no_underline" href="/">
              Terps Badminton
            </a>
          </div>
          <div class="home">
            <a href="http://localhost:<%- portNum%>/">HOME</a><br>
          </div>
        </div>
      </div>

      <div class="sec2">
        <div class="lining_banner">
          <div class="lining_title">LINING</div>
        </div>
      </div>

      <div class="sec3">
        <div class="racket_section">
          <h1>Rackets</h1>
          <hr />
        </div>

        <div class="rackets">

            <div class="bladex">
                <h3>Bladex</h3>
                <div class="bladex_800">
                    <img src="../images/bladex_800-removebg-preview.png" width="300px" height="200px">
                    <h3>Bladex 800</h3>
                    <h4>$250</h4>
                </div>
                <div class="bladex_700">
                    <img src="../images/bladex_700-removebg-preview.png" width="300px" height="200px">
                    <h3>Blade 700</h3>
                    <h4>$240</h4>
                </div>
                <div class="bladex_500">
                    <img src="../images/bladex_500-removebg-preview.png" width="300px" height="200px">
                    <h3>Blade 500</h3>
                    <h4>$200</h4>
                </div>
            </div>
            <div class="axforce">
                <h3>AxForce</h3>
                <div class="axforce_80">
                    <img src="../images/axforce_80-removebg-preview.png" width="300px" height="200px">
                    <h3>AxForce 80</h3>
                    <h4>$200</h4>
                </div>
                <div class="axforce_90">
                    <img src="../images/axforce_90-removebg-preview.png" width="300px" height="200px">
                    <h3>AxForce 90</h3>
                    <h4>$300</h4>
                </div>
            </div>
            <div class="windstorm">
                <h3>WindStorm</h3>
                <div class="windstorm_72">
                    <img src="../images/windstorm_72-removebg-preview.png" width="300px" height="200px">
                    <h3>Windstorm 72</h3>
                    <h4>$200</h4>
                </div>
                <div class="windstorm_79">
                    <img src="../images/windstorm_79-removebg-preview.png" width="300px" height="200px">
                    <h3>Windstorm 79</h3>
                    <h4>$200</h4>
                </div>
            </div>
        </div>
      </div>

      <div class="sec4">
        <div class="shoes_section">
          <h1>Shoes</h1>
          <hr/>
        </div>

        <div class="shoes">
            <div class="lining_saga">
                <h3>Saga</h3>
                <div class="lining_saga_II">
                    <img src="../images/lining_sagaI_II-removebg-preview.png" width="300px" height="200px">
                    <h3>White/Black</h3>
                    <h4>$135</h4>
                </div>
                <div class="lining_saga_II_black">
                    <img src="../images/lining_saga_II_black-removebg-preview.png" width="300px" height="200px">
                    <h3>Black</h3>
                    <h4>$135</h4>
                </div>
            </div>

            <div class="lining_roar_lite">
                <h3>Roar Lite</h3>
                <div class="lining_roar_lite_white">
                    <img src="../images/lining_roar_lite_white-removebg-preview.png" width="300px" height="300px">
                    <h3>White</h3>
                    <h4>$90</h4>
                </div>
                <div class="lining_roar_lite_yellow">
                    <img src="../images/lining_roar_lite_yellow-removebg-preview.png" width="300px" height="300px">
                    <h3>Yellow</h3>
                    <h4>$90</h4>
                </div>
            </div>
        </div>
    
        <div class="order no_underline">
            <hr>
            <a href="/order_form">Order Now</a>
        </div>
      </div>

      <div class="footer">
        <div class="logo">
          <a
            href="https://umdclubbadminton.weebly.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../images/umd_club_badminton_logo-removebg-preview.png"
              alt="umd_club_badminton_logo"
              height="90px"
              width="auto"
            />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
