<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Order Form</title>

    <style>
      .hide_scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      body {
        padding: 0px;
        margin: 0px;
        background-color: wheat;
      }
      .hide_scrollbar::-webkit-scrollbar {
        display: none;
      }
      .sections {
        display: flex;
        flex-direction: column;
      }

      .header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px;
      }

      .title {
        font-size: 60px;
        text-align: center;
        flex-grow: 1;
        padding-right: 90px;
      }

      .no_underline {
        text-decoration: none;
      }

      a {
        color: black;
      }

      .blue-background {
        background-color: #1f2937;
      }

      .sec2{
        padding: 10px;
      }
      legend {
        color: wheat;
        padding: 5px 10px;
        font-weight: bold;
      }

      label {
        color: wheat;
      }
      .sec2 h1{
        text-align: center;
        color: wheat;
      }
    .footer {
      text-align: center;
      bottom: 0px;
      
    }
    .center{
      text-align: center;
    }
    </style>
  </head>

  <script>
    function userConfirm(form) {
      return window.confirm(
        "Are you sure you want to submit your application? \nYou will not be able to change your information once submitted."
      );
    }
    function userConfirmDelete() {
      return window.confirm(
          "Are you sure you want to remove all forms?\n"
      );
  }


  </script>

  <body class="hide_scrollbar">
    <div class="section">
      <div class="sec1">
        <div class="header">
          <div class="logo">
            <a
              href="https://umdclubbadminton.weebly.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../images/umd_club_badminton_logo-removebg-preview.png"
                alt="umd_club_badminton_logo"
                height="120px"
                width="auto"
              />
            </a>
          </div>
          <div class="title">
            <a class="no_underline" href="../html_webpages/index.html">
              Terps Badminton
            </a>
          </div>
          <div class="home">
            <a href="http://localhost:<%- portNum%>/">HOME</a><br>
          </div>
        </div>
      </div>

      <div class="sec2 blue-background">
        <h1>Order Form</h1>
        <form
          action="http://localhost:<%- portNum %>/order_form_entry"
          method="post"
          onsubmit="userConfirm(this)"
        >
          <fieldset>
            <fieldset class="personal_information">
              <legend>Personal Information</legend>
              <label>Name: <input type="text" name="name" required/></label>
              &nbsp;
              <label>ID: <input type="text" name="ID" required/></label>
            </fieldset>

            <br />

            <fieldset class="contact_infomation">
              <legend>Contact Information</legend>
              <label>Phone Number: </label>
              <input type="text" name="phone_number" maxlength="3" size="3" required/>
              <span style="color: wheat;"> - </span>
              <input type="text" name="phone_number" maxlength="3" size="3" required/>
              <span style="color: wheat;"> - </span>
              <input type="text" name="phone_number" maxlength="4" size="4" required/>
              &nbsp;
              <label>Email Address: </label>
              <input type="email" name="email" size="30" required/></label>
            </fieldset>

            <br>
            <fieldset class="order_items">
                <legend>Order</legend>
                <fieldset class="yonex_items">
                    <legend>Yonex</legend>
                    <fieldset class="yonex_rackets"> 
                        <legend>Rackets</legend>
                        <input type="checkbox" id="yonex_racket1" name="product" value="Astrox 88D Pro">
                        <label for="yonex_racket1"> Astrox 88D Pro</label> 
                        <input type="checkbox" id="yonex_racket2" name="product" value="Astrox 88S Pro">
                        <label for="yonex_racket2"> Astrox 88S Pro</label> 
                        <input type="checkbox" id="yonex_racket3" name="product" value="Astrox 99 Pro">
                        <label for="yonex_racket3"> Astrox 99 Pro</label> 
                        <input type="checkbox" id="yonex_racket4" name="product" value="Nanoflare 1000 z">
                        <label for="yonex_racket4"> Nanoflare 1000z</label> 
                        <input type="checkbox" id="yonex_racket5" name="product" value="Nanoflare 800">
                        <label for="yonex_racket5"> Nanoflare 800</label> 
                        <input type="checkbox" id="yonex_racket6" name="product" value="Nanoflare 700">
                        <label for="yonex_racket6"> Nanoflare 700</label> 
                        <input type="checkbox" id="yonex_racket7" name="product" value="Duroa Z Strike">
                        <label for="yonex_racket7"> Duroa Z Strike</label> 
                        <input type="checkbox" id="yonex_racket8" name="product" value="Arcsaber 11 Pro">
                        <label for="yonex_racket8"> Arcsaber 11 Pro</label> 
                        <input type="checkbox" id="yonex_racket9" name="product" value="Arcsaber 7 Pro">
                        <label for="yonex_racket9"> Arcsaber 7 Pro</label> 
                    </fieldset>
                    <fieldset class="yonex_shoes"> 
                        <legend>Shoes</legend>
                        <input type="checkbox" id="yonex_shoe1" name="product" value="Aerus Orange">
                        <label for="yonex_shoe1"> Aerus - Orange</label> 
                        <input type="checkbox" id="yonex_shoe2" name="product" value="Aerus Blue Gray">
                        <label for="yonex_shoe2"> Aerus - Blue Gray</label> 
                        <input type="checkbox" id="yonex_shoe3" name="product" value="Aerus Coral">
                        <label for="yonex_shoe3"> Aerus - Coral</label> 
                        <input type="checkbox" id="yonex_shoe4" name="product" value="Aerus Dark Gray">
                        <label for="yonex_shoe4"> Aerus - Dark Gray</label> 
                        <input type="checkbox" id="yonex_shoe5" name="product" value="Eclipsion White">
                        <label for="yonex_shoe5"> Eclipsion - White</label> 
                        <input type="checkbox" id="yonex_shoe6" name="product" value="Eclipsion Black Red">
                        <label for="yonex_shoe6"> Eclipsion - Black and Red</label> 
                        <input type="checkbox" id="yonex_shoe7" name="product" value="Eclipsion Blue">
                        <label for="yonex_shoe7"> Eclipsion - Blue</label> 
                        <input type="checkbox" id="yonex_shoe8" name="product" value="Eclipsion Yellow">
                        <label for="yonex_shoe8"> Eclipsion - Yellow</label> 
                    </fieldset>
                    
                </fieldset>
                <fieldset class="victor_items">
                  <legend>Victor</legend>
                  <fieldset class="victor_rackets"> 
                      <legend>Rackets</legend>
                      <input type="checkbox" id="victor_racket1" name="product" value="Brave Sword 12">
                      <label for="victor_racket1"> Brave Sword 12</label> 
                      <input type="checkbox" id="victor_racket2" name="product" value="Jet Speed S 10Q">
                      <label for="victor_racket2"> Jet Speed S 10Q</label> 
                      <input type="checkbox" id="victor_racket3" name="product" value="Jet Speed S 12F">
                      <label for="victor_racket3"> Jet Speed S 12F</label> 
                      <input type="checkbox" id="victor_racket4" name="product" value="Jet Speed S 08 B">
                      <label for="victor_racket4"> Jet Speed S 08 B</label> 
                      <input type="checkbox" id="victor_racket5" name="product" value="AuraSpeed 80x">
                      <label for="victor_racket5"> AuraSpeed 80x</label> 
                      <input type="checkbox" id="victor_racket6" name="product" value="AuraSpeed 90k">
                      <label for="victor_racket6"> AuraSpeed 90k</label> 
                  </fieldset>
                  <fieldset class="victor_shoes"> 
                      <legend>Shoes</legend>
                      <input type="checkbox" id="victor_shoes1" name="product" value="Speed Blue">
                      <label for="victor_shoes1"> Speed - Blue</label> 
                      <input type="checkbox" id="victor_shoes2" name="product" value="Support Black">
                      <label for="victor_shoes2"> Support - Black</label> 
                      <input type="checkbox" id="victor_shoes3" name="product" value="Support White">
                      <label for="victor_shoes3"> Support - White</label> 
                      <input type="checkbox" id="victor_shoes4" name="product" value="Support Blue/Red">
                      <label for="victor_shoes4"> Support - Blue/Red</label> 
                      <input type="checkbox" id="victor_shoes5" name="product" value="All-Around Black">
                      <label for="victor_shoes5"> All-Around - Black</label> 
                      <input type="checkbox" id="victor_shoes6" name="product" value="All-Around White">
                      <label for="victor_shoes6"> All-Around - White</label> 
                      <input type="checkbox" id="victor_shoes7" name="product" value="All-Around Blue">
                      <label for="victor_shoes7"> All-Around - Blue</label> 
                  </fieldset>
                  
              </fieldset>
            </fieldset>

            <br />
            <label>
                Notes: <br />
                <textarea rows="6" cols="70" name="notes"></textarea>
            </label>
          </fieldset>

          <br>
          <div id="resetAndSubmit">
            <input type="reset" />
            <input type="submit" value="Submit Order" />
          </div>
        </form>
      </div>
    </div>

    <div class="removeButton center">
      <form action="http://localhost:<%- portNum%>/data_removed" method="post" onsubmit="userConfirmDelete()">
        <input type="submit" value="Remove all orders" id="submit" />
      </form>
    </div>
    <div class="footer">
        <div class="logo">
          
          <a
            href="https://umdclubbadminton.weebly.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../images/umd_club_badminton_logo-removebg-preview.png"
              alt="umd_club_badminton_logo"
              height="90px"
              width="auto"
            />
          </a>
        </div>
    </div>
    <!-- <a href="http://localhost:<%- portNum%>/">HOME</a> -->
  </body>
</html>
