<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Victor Products</title>
  </head>
  <style>
    body {
      padding: 0px;
      margin: 0px;
      background-color: wheat;
    }
    .hide_scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .hide_scrollbar::-webkit-scrollbar {
      display: none;
    }
    .sections {
      display: flex;
      flex-direction: column;
    }
    .blue-background {
      background-color: #1f2937;
    }
    .header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 5px;
    }

    .title {
      font-size: 60px;
      text-align: center;
      flex-grow: 1;
      padding-right: 90px;
    }

    .no_underline {
      text-decoration: none;
    }

    a {
      color: black;
    }

    .victor_banner {
      background-image: url("../images/lee_zii_jia4.png");
      height: 600px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .victor_title {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 100px;
    }

    .brave_sword,
    .jet_speed_s,
    .aura_speed,
    .victor_speed_shoes,
    .victor_support_shoes,
    .victor_all_around_shoes{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 100px;
    }

    .brave_sword{
        flex: 0 0 1275px;
        gap: 115px;
        justify-content:flex-start;
    }
    .jet_speed_s{
        flex: 0 0 1275px;
        gap: 95px;
        justify-content:flex-start;
    }

    .aura_speed{
        flex: 0 0 1275px;
        gap: 120px;
        justify-content:flex-start;
    }

    .victor_speed_shoes,
    .victor_support_shoes,
    .victor_all_around_shoes{
        justify-content: flex-start;
        flex: 0 0 1275px;
        gap: 90px;
    }

    .rackets,
    .shoes {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      
    }

    .brave_sword_12,
    .jet_speed_s_10q,
    .jet_speed_s_12f,
    .jet_speed_s_08b,
    .aura_speed_80x,
    .aura_speed_90k,
    .victor_speed_80II,
    .victor_support_9200,
    .victor_support_9210,
    .victor_support_9300,
    .victor_all_around_170,
    .victor_all_around_120,
    .victor_all_around_930{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .racket_section,
    .shoes_section,
    .bag_section {
      padding: 25px;
    }

    .footer {
      text-align: center;
    }

    .order{
        text-align: center;
        font-size: 40px;
    }
  </style>
  <body class="hide_scrollbar">
    <div class="sections">
      <div class="sec1">
        <div class="header">
          <div class="logo">
            <a
              href="https://umdclubbadminton.weebly.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../images/umd_club_badminton_logo-removebg-preview.png"
                alt="umd_club_badminton_logo"
                height="120px"
                width="auto"
              />
            </a>
          </div>
          <div class="title">
            <a class="no_underline" href="../html_webpages/index.html">
              Terps Badminton
            </a>
          </div>
          <div class="home">
            <a href="http://localhost:<%- portNum%>/">HOME</a><br>
          </div>
        </div>
      </div>

      <div class="sec2">
        <div class="victor_banner">
          <div class="victor_title">VICTOR</div>
        </div>
      </div>

      <div class="sec3">
        <div class="racket_section">
          <h1>Rackets</h1>
          <hr />
        </div>

        <div class="rackets">

            <div class="brave_sword">
                <h3>Brave Sword</h3>
                <div class="brave_sword_12">
                    <img src="../images/brave_sword_12-removebg-preview.png" width="300px" height="200px">
                    <h3>Brave Sword 12</h3>
                    <h4>$250</h4>
                </div>
            </div>
            <div class="jet_speed_s">
                <h3>JetSpeed S</h3>
                <div class="jet_speed_s_10q">
                    <img src="../images/jet_speed_10_q-removebg-preview.png" width="300px" height="200px">
                    <h3>Jet Speed S 10Q</h3>
                    <h4>$250</h4>
                </div>
                <div class="jet_speed_s_12f">
                    <img src="../images/jet_speed_s_12f-removebg-preview.png" width="300px" height="200px">
                    <h3>Jet Speed S 12F</h3>
                    <h4>$250</h4>
                </div>
                <div class="jet_speed_s_08b">
                    <img src="../images/jet_speed_s_08b-removebg-preview.png" width="300px" height="200px">
                    <h3>Jet Speed S 08 B</h3>
                    <h4>$250</h4>
                </div>
            </div>
            <div class="aura_speed">
                <h3>AuraSpeed</h3>
                <div class="aura_speed_80x">
                    <img src="../images/aura_speed_80x-removebg-preview.png" width="300px" height="200px">
                    <h3>AuraSpeed 80x</h3>
                    <h4>$250</h4>
                </div>
                <div class="aura_speed_90k">
                    <img src="../images/aura_speed_90k-removebg-preview.png" width="300px" height="200px">
                    <h3>AuraSpeed 90k</h3>
                    <h4>$250</h4>
                </div>
            </div>
        </div>
      </div>

      <div class="sec4">
        <div class="shoes_section">
          <h1>Shoes</h1>
          <hr/>
        </div>

        <div class="shoes">
            <div class="victor_speed_shoes">
                <h3>Speed</h3>
                <div class="victor_speed_80II">
                    <img src="../images/victor_speed_82II-removebg-preview.png" width="300px" height="200px">
                    <h3>Blue</h3>
                    <h4>$145</h4>
                </div>
            </div>

            <div class="victor_support_shoes">
                <h3>Support</h3>
                <div class="victor_support_9200">
                    <img src="../images/victor_support_9200-removebg-preview.png" width="300px" height="200px">
                    <h3>Black</h3>
                    <h4>$120</h4>
                </div>
                <div class="victor_support_9210">
                    <img src="../images/victor_support_9210-removebg-preview.png" width="300px" height="200px">
                    <h3>White</h3>
                    <h4>$120</h4>
                </div>
                <div class="victor_support_9300">
                    <img src="../images/victor_support_9300-removebg-preview.png" width="300px" height="200px">
                    <h3>Blue/Red</h3>
                    <h4>$120</h4>
                </div>
            </div>
            <div class="victor_all_around_shoes">
                <h3>All-Around</h3>
                <div class="victor_all_around_120">
                    <img src="../images/victor_all_around_120-removebg-preview.png" width="300px" height="200px">
                    <h3>Black</h3>
                    <h4>$120</h4>
                </div>
                <div class="victor_all_around_930">
                    <img src="../images/victor_all_around_930-removebg-preview.png" width="300px" height="200px">
                    <h3>White</h3>
                    <h4>$120</h4>
                </div>
                <div class="victor_all_around_120">
                    <img src="../images/victor_all_around_170-removebg-preview.png" width="300px" height="200px">
                    <h3>Blue</h3>
                    <h4>$120</h4>
                </div>
            </div>
        </div>
    
        <div class="order no_underline">
            <hr>
            <a href="/order_form">Order Now</a>
        </div>
      </div>

      <div class="footer">
        <div class="logo">
          <a
            href="https://umdclubbadminton.weebly.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../images/umd_club_badminton_logo-removebg-preview.png"
              alt="umd_club_badminton_logo"
              height="90px"
              width="auto"
            />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
